.rigs-block {
  width: 100%;
  margin-top: 100px;
}
.rigs-title {
  width: 736px;
  height: 84px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}
.rigs-content-block {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  justify-content: center;
}
.rig {
  width: 396px;
  height: 72px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #676767;
}
