.structures-block {
  width: 100%;
  margin-top: 100px;
  background: rgba(217, 217, 217, 0.5);
  padding-top: 50px;
}
.structures-block-title {
  width: 687px;
  height: 84px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}
.highlighted-content-block {
  margin-top: 50px;
  display: flex;
  gap: 46px;
  justify-content: center;
}
.highlighted-line {
  width: 396px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #10b8f6;
}
.structures-content-block {
  margin-top: 25px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 46px;
}
.structures-column {
  display: flex;
  flex-direction: column;
  width: 396px;
}
.structures-line {
  margin-top: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #676767;
}

@media (min-width: 521px) and (max-width: 899px) {
  .structures-block {
    margin-top: 0;
  }
  .structures-block-title {
    font-size: 24px;
    line-height: 22px;
    width: fit-content;
  }
  .highlighted-content-block {
    margin-top: 0;
  }
  .highlighted-line {
    height: fit-content;
    font-size: 20px;
    line-height: 20px;
  }
  .structures-content-block {
    margin-top: 0;
  }
  .structures-line {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 280px) and (max-width: 520px) {
  .structures-block {
    margin-top: 0;
  }
  .structures-block-title {
    font-size: 22px;
    line-height: 22px;
    width: fit-content;
  }
  .highlighted-content-block {
    margin-top: 0;
    gap: 8px;
  }
  .highlighted-line {
    height: fit-content;
    font-size: 18px;
    line-height: 20px;
  }
  .structures-content-block {
    margin-top: 0;
    gap: 10px;
    padding-bottom: 20px;
  }
  .structures-line {
    font-size: 16px;
    line-height: 20px;
  }
}
