.drilling-block {
  width: 100%;
  margin-top: 100px;
  background: rgba(217, 217, 217, 0.5);
  padding-top: 50px;
}
.drilling-block-title {
  width: 562px;
  height: 84px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

.drilling-block-content {
  margin-top: 50px;
  width: 1280px;
  height: min-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #676767;
}

@media (min-width: 521px) and (max-width: 899px) {
  .drilling-block-title {
    height: fit-content;
    font-size: 24px;
  }
  .drilling-block-content {
    font-size: 20px;
    width: fit-content;
    margin-top: 10px;
  }
}

@media (min-width: 280px) and (max-width: 520px) {
  .drilling-block-title {
    height: fit-content;
    font-size: 24px;
    width: fit-content;
  }
  .drilling-block {
    margin-top: 20px;
    padding: 0;
  }
  .drilling-block-content {
    font-size: 14px;
    width: fit-content;
    margin-top: 10px;
  }
  .drilling-block-text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
