.footer {
  height: 96px;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 32px;
}
.footer-email {
  margin-top: 17px;
  width: 215px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #676767;
}
.footer-logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
.footer-logo {
  width: 64px;
  height: 64px;
}
.footer-main-title {
  width: 223px;
  height: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.footer-telephone-number {
  margin-top: 17px;
  width: 208px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #676767;
}

@media (min-width: 521px) and (max-width: 899px) {
  .footer-email {
    font-size: 20px;
  }
  .footer-logo {
    width: 32px;
    height: 32px;
  }
  .footer-main-title {
    font-size: 18px;
  }
  .footer {
    justify-content: center;
    gap: 0;
  }
}

@media (min-width: 280px) and (max-width: 520px) {
  .footer-email {
    font-size: 16px;
    width: fit-content;
  }
  .footer-logo {
    width: 32px;
    height: 32px;
  }
  .footer-main-title {
    font-size: 16px;
    width: fit-content;
  }
  .footer {
    justify-content: center;
    gap: 0;
  }
}
